.LogosEnterprise{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 125px;
    
}


/*Responsive Desing for /info */

@media only screen and (max-width: 1500px) {
    .cardsBox{
        display: flex !important;
        justify-content: center!important;
        align-items: center!important;
        flex-direction: column !important;
        width: 80% !important;
    }
    .LogosEnterprise{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 125px;
        
    }
    .webDesigns{
        display: flex !important;
        justify-content: center!important;
        align-items: center!important;
        flex-direction: column !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 400px) {
    h4{
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin-left: 50px;  
    }
    .cardsBox{
        position: relative;
        left: -55px;
        width: 100% !important;
    }
    .webDesigns{
        position: relative;
        left: -55px;
        width: 100% !important;
    }


}
