@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#459BFF, #F9F6EE );
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#459BFF, #F9F6EE );
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    display: block;
    width: 50%;
}
.cols0{
    width: 55%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #459BFF;
}
h1{
    display: block;
    font-size: 6em;
    font-weight: 850;
    color: #3d535f;
}
.multiText{
    color: #077AFF;
    text-transform: capitalize;
}
.p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
button:hover{
    background-color: #459BFF;
}
.imgbox{
    position: relative;
    width: 60rem;
    height:  60rem;
}
.imgbox img{
    position: relative;
    width: calc(130%- 80px);
    height: 100%;
    top: 20px;
    right: 60px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
    border-radius: 20px;
}
@keyframes animateUser {
    50%{
        right: 30px;
        top: -60px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
}


/*RESPONSIVE DESING FROM /Home */
@media only screen and (max-width: 1100px) {
    .topline{
        display: block;
        position: relative;
        font-size: 30px;
        letter-spacing: 2px;
        color: #3d535f;
    }
    .cols{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .h1{
        font-size: 4rem;
    }
    .multiText{
        font-size: 4rem;
    }
    p{
        position: relative;
        display: flex;
        justify-content: center;
        width: 70%;
    }

    @keyframes animateUser {
        50%{
            right: 10px;
            top: -15px;
        }
    }
  }
  @media only screen and (max-width: 800px) {
    .cols{
        width: 30%;
    }
    .cols0{
        width: 80%;
    }
    p{
        color: black;
        position: relative;
        display: flex;
        justify-content: center;
        width: 115%;
    }
    .wrapper::after{
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        border-radius: 50%;
        left: 35%;
        top: 12%;
        background: linear-gradient(45deg,#459BFF, #F9F6EE );
        animation: object2 6s linear infinite;
    }
    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .imgbox{
        position: absolute;
        left: 0.5rem;
    }
  }